In [2]:
import numpy as np
import pandas as pd

import scipy
from statsmodels.stats.weightstats import *
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [167]:
z = (9.57 - 9.5)/(0.4/sqrt(160))

In [184]:
print z
p_v =  2*(1 - scipy.stats.norm.cdf(z))
print round (p_v,4)

2.213594362117875
0.0269

In [185]:
round (p_v,4)

0.0269

In [24]:
norm_rv = scipy.stats.norm(9.5, 0.4)

In [25]:
samples1 = norm_rv.rvs(1000)

In [28]:
norm_rv2 = scipy.stats.norm(9.57, 0.4)

In [57]:
random.seed (6)
samples2 = norm_rv2.rvs(160)

In [58]:
samples2.mean()

9.573447920060918

In [59]:
stats.ttest_1samp(samples2, 9.5)

Ttest_1sampResult(statistic=2.37070007041281, pvalue=0.018952655975455854)

In [88]:
data = pd.read_csv('diamonds.txt', sep ='\t')

In [91]:
data.head()

   carat  depth  table  price     x     y     z
0   0.23   61.5   55.0    326  3.95  3.98  2.43
1   0.21   59.8   61.0    326  3.89  3.84  2.31
2   0.23   56.9   65.0    327  4.05  4.07  2.31
3   0.29   62.4   58.0    334  4.20  4.23  2.63
4   0.31   63.3   58.0    335  4.34  4.35  2.75

In [101]:
dt = data[["carat","depth", 'table','x','y','z']]
print dt[:5]

   carat  depth  table     x     y     z
0   0.23   61.5   55.0  3.95  3.98  2.43
1   0.21   59.8   61.0  3.89  3.84  2.31
2   0.23   56.9   65.0  4.05  4.07  2.31
3   0.29   62.4   58.0  4.20  4.23  2.63
4   0.31   63.3   58.0  4.34  4.35  2.75

In [103]:
target = data['price']
print target[:5]

0    326
1    326
2    327
3    334
4    335
Name: price, dtype: int64

In [105]:
target.shape

(53940,)

In [109]:
from sklearn import model_selection, linear_model, metrics

In [104]:
train_data, test_data, train_labels, test_labels = model_selection.train_test_split(dt, target, 
                                                                                     test_size = 0.25,random_state = 1)

In [110]:
lin_model = linear_model.LinearRegression()
lin_model.fit(train_data,train_labels)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [130]:
predict = lin_model.predict(test_data)

In [211]:
error1 = metrics.mean_absolute_error(test_labels, predict)
error1

890.3764004285596

In [208]:
er_1 = predict - test_labels

In [209]:
er_1.describe()

count    13485.000000
mean        19.229235
std       1463.058136
min     -12455.940789
25%       -342.670547
50%         63.649682
75%        652.518106
max      18239.846360
Name: price, dtype: float64

In [121]:
test_labels[:5]

2714      564
14653    5914
52760    2562
48658     537
14812    5964
Name: price, dtype: int64

In [123]:
from sklearn import ensemble

In [126]:
rf_model = ensemble.RandomForestRegressor(random_state = 1)

In [127]:
rf_model.fit (train_data,train_labels)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=1, verbose=0, warm_start=False)

In [133]:
predict_rf = rf_model.predict(test_data)

In [212]:
error2 = metrics.mean_absolute_error(test_labels, predict_rf)
print error2

803.6143383081302

In [214]:
er_2 = predict_rf - test_labels
er_2.describe()

count    13485.000000
mean        47.453264
std       1405.932446
min     -12443.600000
25%       -247.200000
50%         32.700000
75%        402.400000
max       8878.700000
Name: price, dtype: float64

In [215]:
stats.ttest_rel(er_1, er_2)

Ttest_relResult(statistic=-3.572405878542735, pvalue=0.0003549495791417807)

In [136]:
% DescrStatsW(predict - predict_rf).tconfint_mean()

ERROR:root:Line magic function `%DescrStatsW` not found.

In [217]:
new_data = pd.DataFrame (abs(er_1) - abs(er_2))

In [188]:
predict[:5]

array([ 778.42235621, 6930.46053685, 2520.12128307,  529.83435479,
       7077.15270117])

In [174]:
predict_rf[:5]

array([ 858.55, 7205.6 , 2060.  ,  579.  , 8339.5 ])

In [218]:
n_data = np.array(new_data)

In [219]:
n_data = n_data.reshape(13485,)
print n_data.std(ddof = 1)

779.1648545893603

In [220]:
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic

In [221]:
n2,v2 =  _tconfint_generic(n_data.mean(), n_data.std(ddof = 1)/sqrt(n_data.shape[0]),n_data.shape[0],0.05, 'two-sided')

In [222]:
print n2,v2

73.61008778212826 99.91403645873004

In [223]:
round (n2, 1)

73.6