In [1]:
from sklearn import cross_validation, linear_model, metrics
import numpy as np

/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('water.txt', sep = '\t')

In [106]:
std_mort = df['mortality'].std(ddof = 1)/sqrt(df.shape[0])

In [68]:
df[:5]

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [26]:
df.shape[0]

61

In [20]:
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic

In [148]:
n,v =  _tconfint_generic(df['mortality'].mean(), std_mort,df.shape[0]-1,0.05, 'two-sided')

In [149]:
print n,v

1476.0833413552848 1572.2117406119285

In [30]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [32]:
df['mortality'].mean()-2*std_mort

1148.8100331206924

In [150]:
round(n,4)

1476.0833

In [88]:
df1 = df[df['location'] == 'South']

In [120]:
std_mort1 = df1['mortality'].std(ddof = 1)/sqrt(df1.shape[0])
print std_mort1

27.509048538240833

In [151]:
n1,v1 =  _tconfint_generic(df1['mortality'].mean(), std_mort1,df1.shape[0]-1,0.05, 'two-sided')

In [152]:
print n1,v1

1320.1517462936238 1433.463638321761

In [153]:
round (v1,4)

1433.4636

In [87]:
df2 = df[df['location'] == 'North']

In [124]:
std_mort2 = df2['mortality'].std(ddof = 1)/sqrt(df2.shape[0])
print std_mort2

23.146562624816188

In [125]:
n2,v2 =  _tconfint_generic(df2['mortality'].mean(), std_mort2,df2.shape[0],0.05, 'two-sided')

In [126]:
print n2,v2

1586.6099797036175 1680.5900202963824

In [137]:
df2['hardness'].mean()
std_hard2 = df2['hardness'].std(ddof = 1)/sqrt(df2.shape[0])

In [138]:
df1['hardness'].mean()
std_hard1 = df1['hardness'].std(ddof = 1)/sqrt(df1.shape[0])

In [139]:
_tconfint_generic(df1['hardness'].mean(), std_hard1,df1.shape[0],0.05, 'two-sided')

(53.498932357201966, 86.03952918125958)

In [140]:
_tconfint_generic(df2['hardness'].mean(), std_hard2,df2.shape[0],0.05, 'two-sided')

(21.43192570891079, 39.36807429108921)

In [98]:
z1 = 1.95996

In [165]:
n_1 = (z1/0.1)**2

In [103]:
n_1

38.41443201599999

In [146]:
df[df.location == 'South'].hardness.mean()

69.76923076923077

In [154]:
df1['hardness'].mean()

69.76923076923077

In [161]:
_zconfint_generic(10, 1/sqrt(400), 0.05,'two-sided')

(9.902001800772997, 10.097998199227003)

In [162]:
0.1 = (1.99*1)/sqrt(n)

SyntaxError: can't assign to literal (<ipython-input-162-3bec5bbb659f>, line 1)

In [164]:
(1.99/0.1)**2

396.00999999999993